.hsTestimonialsWrapper {
  .hsTestimonials-container {
    .hsTestimonials-item {
      .hsTestimonials-item-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;
        margin-bottom: 1.5rem;
        &.item-img-1 {
          background-image: url("../../public/testimonial-image-1.png");

          &::before {
            padding-bottom: 200%;
          }
        }

        &.item-img-2 {
          background-image: url("../../public/testimonial-image-2.png");

          &::before {
            padding-bottom: 100%;
          }
        }
        &.item-img-3 {
          background-image: url("../../public/testimonial-image-3.png");

          &::before {
            padding-bottom: 100%;
          }
        }
        &::before {
          display: block;
          content: "";
        }

        .hsTestimonials-item-overlay-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          padding: 0.5rem;
          .hsTestimonials-item-overlay {
            border: 5px solid #262626;
            height: 100%;
            padding: 0 2rem 2.5rem;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;
            color: #6c757d;
            font-size: 18px;
            line-height: 1.2;
            transition: all 0.5s;
            .hsTestimonials-content {
              .hsTestimonialsc-text {
                transition: all 0.5s;
              }
            }
          }
        }
      }
      &:hover {
        .hsTestimonials-item-img {
          .hsTestimonials-item-overlay-wrapper {
            .hsTestimonials-item-overlay {
              color: #b98e17;
              border: 5px solid #b98e17;
              .hsTestimonials-content {
                .hsTestimonialsc-text {
                  transform: translateY(-50px);
                }
              }
            }
          }
        }
      }
    }
  }
}
